@model IEnumerable<BarEscolar.Models.Product>
@{
    ViewData["Title"] = "Funcionario";
}
<h1>Bem-vindo, @ViewBag.User.FullName!</h1>

<h1>Produtos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Stock</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Imagepath</td>
                <td>@prod.Name</td>
                <td>@prod.Price</td>
                <td>@prod.Stock</td>
                <td>@prod.Description</td>
                <td>@prod.CategoryId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@prod.Id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@prod.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@prod.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Pedidos</h1>