@model IEnumerable<BarEscolar.Models.MenuDay>
@{
    ViewData["Title"] = "Aluno";
}
<h1>Bem-vindo, @ViewBag.User.FullName!</h1>
<a asp-action="MenusMarcados" asp-route-id="@ViewBag.User.ID">Menus Marcados</a>

<h1>Menu do Dia</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Dia</th>
            <th>Prato Principal</th>
            <th>Soupa</th>
            <th>Sobremesa</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menuDay in Model)
        {
            <tr>
                <td>@menuDay.Date</td>
                <td>@menuDay.MainDish</td>
                <td>@menuDay.Soup</td>
                <td>@menuDay.Dessert</td>
                <td>@menuDay.Notes</td>
                <td>
                    <a asp-action="Marcar" asp-route-id="@ViewBag.User.ID" asp-route-menuid="@menuDay.Id">Marcar</a>
                </td>
            </tr>
        }
    </tbody>
</table>