@model IEnumerable<BarEscolar.Models.Product>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Descrição</th>
            <th>Ativo?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(p.ImagePath))
                    {
                        <center>
                            <img src="/Images/@p.ImagePath" style="width:70px" />
                        </center>
                    }
                    else
                    {
                        <span>Sem Imagem</span>
                    }
                </td>
                <td>@p.Name</td>
                <td>@p.Price €</td>
                <td>@p.CategoryId</td>
                <td>@p.Stock</td>
                <td>@p.Description</td>
                <td>@(p.IsActive ? "Sim" : "Não")</td>
                <td>
                    <a asp-action="EditProduct" asp-route-userid="@ViewBag.User.ID" asp-route-prodid="@p.Id" class="btn btn-warning btn-sm">Editar</a>

                    <form asp-action="DeleteProduct" asp-route-id="@ViewBag.User.ID" asp-route-prodid="@p.Id" method="post" style="display:inline-block">
                        <button class="btn btn-danger btn-sm"
                                onclick="return confirm('Apagar este produto?');">
                            Apagar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin" asp-route-id="@ViewBag.User.ID" asp-action="Index" class="btn btn-secondary mt-3">Voltar ao Dashboard</a>
